/* home */
#home {
    height: 820px;
}

.headings {
    font-size: 1.7rem;
}

/* about */
#pic img {
    width: 300px;
    height: 175px;
}

#intro h2 {
    font-size: 1.5rem;
}

/* portfolio */
.gallery img {
    width: 250px;
    height: 150px;
    margin: 10px;
}